*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/webb.png");
    z-index: 1;
    
}
.hamburger {
padding: 10px;
display: inline-block;
cursor: pointer;
background-color: #efefef;;
border: 0;
margin: 0;
position: fixed;
left:1vh;
top:2vh;
z-index: 2;
}
.hamburger, .navigation {
-webkit-transition: -webkit-transform .3s .1s ease-in-out;
transition: -webkit-transform .3s .1s ease-in-out;
transition: transform .3s .1s ease-in-out;
transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
}
.hamburger--active {
-webkit-transform: translatex(250px);
        transform: translatex(250px);
}
.hamburger__box {
width: 35px;
height: 24px;
display: inline-block;
position: relative;
}
.hamburger__inner {
width: 100%;
height: 3px;
background-color: black;
position: absolute;
left: 0;
top: 50%;
-webkit-transform: translateY(-50%);
        transform: translateY(-50%);
-webkit-transition: background-color .1s .2s ease-in-out;
transition: background-color .1s .2s ease-in-out;
}
.hamburger__inner::before,
.hamburger__inner::after {
width: 100%;
height: 3px;
background-color: black;
position: absolute;
content: '';
left: 0;
-webkit-transition: -webkit-transform .2s .2s ease-in-out;
transition: -webkit-transform .2s .2s ease-in-out;
transition: transform .2s .2s ease-in-out;
transition: transform .2s .2s ease-in-out, -webkit-transform .2s .2s ease-in-out;
}
.hamburger__inner::before {
top: -10px;
}
.hamburger__inner::after {
top: 10px;
}
.hamburger--active .hamburger__inner {
background-color: transparent;
}
.hamburger--active .hamburger__inner:before {
-webkit-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
}
.hamburger--active .hamburger__inner:after {
-webkit-transform: translateY(-10px) rotate(-45deg);
        transform: translateY(-10px) rotate(-45deg);
}
.navigation {
height: 100vh;
width: 250px;
background-color: #ddd;
position: fixed;
top: 0;
left: 0;
z-index: 2;
-webkit-transform: translateX(-250px);
        transform: translateX(-250px);
opacity: 1;   
}
.navigation--active {
-webkit-transform: translateX(0px);
        transform: translateX(0px);
}
.navigation__list {
margin-top: 50px;
list-style: none;
}
.navigation__item {
margin-bottom: 20px;
}
.navigation__item a {
text-decoration: none;
color: #171717;
}
#aboutMe{
    display: flex;
    margin-top: 3vh;
    background-color:  #4e54c8;
    width: 65vw;
    height: 30vw;
    padding: 2,5vw;
    -webkit-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.8);
    color: #fff;
}
@media only screen and (min-width: 2500px){
    #aboutMe{
        width: 45vw;
        font-size: 1.15em;
    }
}
@media only screen and (max-width:1200px){
    #aboutMe{
        width: 100vw;
        height: 50vh;
    }
    #cv{
        height: 25%;
    }
}
@media only screen and (max-width:550px){
    img.me{
        display: none;
    }
}
#content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    padding: 4vw 2vw 0 5vw;
    text-align: justify;
    font-size: 1.2em;
    display: flex;
}
img.me{
    max-height: 100%;
    max-width: 50%;
     padding:0;
     margin: 1vh;
         -webkit-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.8);  
}
#contact{
    min-width:100%;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 70%;
    height: 50%;
    padding-bottom: 2vw;
}
#cv{
    width: 40%;
    height: 20%;
    border: .1vw solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7e80ac;
}
@media only screen and (max-width: 1360px){
    #cv{
        height: 40%;
    }
}
#cv:hover{
    cursor:pointer;
    background-color: rgb(134, 38, 38) ;
}
h3{
    padding-top: 1ch;
}
h2.napis{
    margin-top: 20vh;
}
.napis::before,
.napis::after{
    content:"↓"
}
#containerFakt{
    margin-top: 20vh;
    width: 95vw;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    margin-left: 1vh;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    flex: 1;
}
.fakt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0040ff;
    border-radius: 1vw;
    padding:  3vw;
    padding-top:1vw ;
    color: #efefef;
    width: 30vw;
    text-align: center;
}
@media only screen and (min-width: 2500px){
 .fakt{
     width: 20vw;
 }
 #containerFakt{
     width: 75vw;
 }
 
}
h3{
    justify-self: flex-start;
    margin-bottom: 1.5vh;
    text-transform: uppercase;
}
#fakt1{
    margin-top: 10vh;
    justify-self: flex-start;
}
#fakt2{
    height: 20vh;
    justify-self: end;
    margin-top: 20vh;
    background-color: #196dec;
}
#fakt3{
    background-color: #196dec;
    margin-top: 1vh;
}
#fakt4,
#fakt5{
    margin-top: 5vh;
}
#fakt6{
    background-color: #196dec;
    margin-top: 20vh;
}
#abilities{
    margin-top: 3vh;
    width: 85vw;
    display: flex; 
    flex-flow: column nowrap;
    justify-content: space-between;
}
@media only screen and (min-width: 2500px){
    #abilities{
        width: 65vw;
    }
    .lewa,
    .prawa{
        width: 35vw;
    }
    
}
.lewa{
    padding: 5vw;
    margin-top: .5vw;
    padding-left: 1vw;
    width: 50vw;
    height: 10vw;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
    color: black;
    background-color: lightblue;
    border-top-right-radius: 10vh;
}
.lewa::before{
    content:"";
    width: 100%;
    height: 2%;
    bottom:0;
    right: 100%;
    position: absolute;
    background-color: black;
    z-index: 0;
    transition: transform 0.7s ease;
    opacity: 1;
    border-top-right-radius: 10vh;
}
/* .lewa::after{
    content:"";
    width: 100%;
    height: 100%;
    top:0;
    left:0 ;
    position: absolute;
    background-color: lightblue;
    z-index: 0;
    transition: transform 0.7s ease;
    opacity: 0.3;
    border-top-right-radius: 10vh;
    
} */
.lewa:hover::before{
    transform: translateX(100%);
}

.prawa{
    padding: 5vw;
    padding-right: 1vw;
    margin-top: .5vw;
    width: 50vw;
    height: 10vw;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    align-self: flex-end;
    border-top-left-radius: 10vh;
    background-color: lightblue;
}
.prawa::after{
    content:"";
    width: 100%;
    height: 2%;
    bottom:0%;
    right: -100%;
    position: absolute;
    background-color: black;
    z-index: -2;
    transition: transform 0.7s ease;
    opacity: 1;
    
}
.prawa::before{
    content:"";
    width: 100%;
    height: 100%;
    top:0;
    left:0 ;
    position: absolute;
    background-color: lightblue;
    z-index: -2;
    opacity: .3;
    border-top-left-radius: 10vh;
}
.prawa:hover::after{
    transform: translateX(-100%);
}
img{
    min-height: 5vw;
    min-width:5vw;
    max-width: 5vw;
    max-width: 5vw;
    margin-right: 1vw;
}
#inter{
    background-color: lightblue;
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 30vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 10vh;
    padding: 5vh;
}
@media only screen and (min-width: 2500px){
    #inter{
        width: 40vw;
    }
}
h4{
   align-self: center;
   font-size: 1.5em;
   margin-top: 1vh;
}
.telefon{
    margin-top: 2vh;

}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #444;
}
p.email{
    margin-top: 2vh;
}
.container{
    width:100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
p.copy{
    align-self: center;
    margin-top: 7vh;

}
.scrollup{
    width: 5vw;
    height: 5vw;
    border: .1 solid black;
    position: fixed;
    bottom: 5vh;
    right: 2vw;
    z-index:2;
    display: none;
}
a#arrow{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.area{
    background: #e1e2f3;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    position:fixed ;
    z-index: -1;
}
.cirle{
    border-radius: 50vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #4e54c8;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 25%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 25%;
    }

}
#kupa{
    width: 25%;
    background-color: #7e80ac;
    text-align: center;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 1.5em;
    /* border: 0.1vw solid black; */
    border-radius: 2vh;
}
